<mat-dialog-content class="mat-dialog-content">
  @if (selectedDevice(); as device) {
    @switch (selectedScanner().code) {
      @case (EScanner.ZXING) {
        @defer {
          <app-card-scanner-zxing
            #scanner
            [deviceId]="device.deviceId"
            (OnSuccess)="onResult($event)">
          </app-card-scanner-zxing>
        } @placeholder {
          <ng-container [ngTemplateOutlet]="loadingTemplate"></ng-container>
        }
      }
      @case (EScanner.QUAGGA2) {
        @defer {
          <app-card-scanner-quagga2
            #scanner
            [deviceId]="device.deviceId"
            (OnSuccess)="onResult($event)">
          </app-card-scanner-quagga2>
        } @placeholder {
          <ng-container [ngTemplateOutlet]="loadingTemplate"></ng-container>
        }
      }
    }
  } @else {
    <ng-container [ngTemplateOutlet]="loadingTemplate"></ng-container>
  }
</mat-dialog-content>
<mat-dialog-actions class="mat-dialog-actions">
  <section class="mat-dialog-actions-scanner">
    <span>{{'CARDS.CARD.SCAN.SCANNER' | translate}}</span>
    <button
      mat-icon-button
      (click)="openScannersHelp()">
      <mat-icon>help</mat-icon>
    </button>
    <mat-button-toggle-group
      [value]="selectedScanner()"
      (valueChange)="onSelectScanner($event)">
      @for (s of scanners; track s.code) {
        <mat-button-toggle [value]="s">{{s.name}}</mat-button-toggle>
      }
    </mat-button-toggle-group>
  </section>
  <button
    mat-button
    (click)="onClickSelectDevice()">
    <mat-icon>videocam_outlined</mat-icon>
    @if (selectedDevice(); as device) {
      {{ device.label ?? device.deviceId }}
    } @else {
      {{ 'CARDS.CARD.SCAN.SELECT_SOURCE' | translate }}
    }
  </button>
  <button
    mat-button
    class="accent-color"
    (click)="fileInput.click()">
    <mat-icon>image</mat-icon>
    {{ 'CARDS.CARD.SCAN.FROM_FILE' | translate }}
    <input
      #fileInput
      hidden
      type="file"
      id="card-scanner-from-file"
      accept="image/*"
      multiple="false"
      (change)="decodeFromFile($any($event))" />
  </button>
  <button
    mat-flat-button
    (click)="close()">
    {{ 'GENERAL.CLOSE' | translate }}
  </button>
</mat-dialog-actions>

<ng-template #loadingTemplate>
  <mat-icon style="width: 50px; height: 50px;">
    <mat-spinner [diameter]="50"></mat-spinner>
  </mat-icon>
</ng-template>
