<div class="user-component">
  <form
    class="user-component-form"
    autocomplete="off"
    [formGroup]="form"
    (submit)="onSubmit()">
    <mat-form-field class="user-component-form-field">
      <mat-label aria-required="true">{{ 'USER.EMAIL' | translate }}</mat-label>
      <input
        matInput
        type="email"
        id="user_email"
        name="user_email"
        autocomplete="email"
        formControlName="email" />
    </mat-form-field>
    <mat-form-field class="user-component-form-field">
      <mat-label aria-required="true">{{
        'USER.USERNAME' | translate
      }}</mat-label>
      <input
        matInput
        type="text"
        id="login_username"
        name="login_username"
        autocomplete="username"
        formControlName="username" />
    </mat-form-field>
    @if (needsCurrentPassword()) {
      <mat-form-field class="user-component-form-field">
        <mat-label aria-required="true">{{
          'USER.CURRENT_PASSWORD' | translate
        }}</mat-label>
        <input
          matInput
          [type]="hideCurrentPassword() ? 'password' : 'text'"
          id="current-password"
          name="current-password"
          autocomplete="current-password"
          formControlName="current_password" />
        <mat-icon
          matSuffix
          (click)="hideCurrentPassword.set(!hideCurrentPassword())">
          {{ hideCurrentPassword() ? 'visibility_off' : 'visibility' }}
        </mat-icon>
      </mat-form-field>
    }
    <mat-checkbox
      #changePasswordCheckbox
      class="user-component-form-checkbox"
      id="change-password-checkbox"
      name="change-password-checkbox"
      (change)="onChangePasswordCheck($event)">
      {{ 'USER.CHANGE_PASSWORD' | translate }}
    </mat-checkbox>
    <mat-form-field class="user-component-form-field">
      <mat-label aria-required="true">{{
        'USER.PASSWORD' | translate
      }}</mat-label>
      <input
        matInput
        [type]="hidePassword() ? 'password' : 'text'"
        id="password"
        name="password"
        autocomplete="new-password"
        formControlName="password" />
      <mat-icon
        matSuffix
        (click)="hidePassword.set(!hidePassword())"
        >{{ hidePassword() ? 'visibility_off' : 'visibility' }}
      </mat-icon>
    </mat-form-field>
    <mat-form-field class="user-component-form-field">
      <mat-label aria-required="true">{{
        'USER.CONFIRM_PASSWORD' | translate
      }}</mat-label>
      <input
        matInput
        [type]="hideConfirmPassword() ? 'password' : 'text'"
        id="confirm-password"
        name="confirm-password"
        autocomplete="new-password"
        formControlName="confirm_password"
        [errorStateMatcher]="passwordsMatchErrorStateMatcher" />
      <mat-icon
        matSuffix
        (click)="hideConfirmPassword.set(!hideConfirmPassword())">
        {{ hideConfirmPassword() ? 'visibility_off' : 'visibility' }}
      </mat-icon>
      @if (form.hasError('passwordMatchValidator')) {
        <mat-error>{{ 'USER.PASSWORDS_MISMATCH' | translate }}</mat-error>
      }
    </mat-form-field>
    @if (changePasswordCheckbox.checked) {
      <ul class="user-component-form-password-hints">
        @for (item of 'USER.PASSWORD_HINTS' | translate; track item) {
          <li>{{ item }}</li>
        }
      </ul>
    }
    <section class="user-component-form-buttons">
      @if (!isOwner()) {
        <button
          class="warn-color"
          mat-button
          type="button"
          [disabled]="isLoading()"
          (click)="onDelete()">
          <mat-icon>delete</mat-icon>
          {{ 'GENERAL.DELETE' | translate }}
        </button>
      }
      <button
        mat-flat-button
        type="submit"
        [disabled]="isLoading() || !hasChanges()">
        {{ 'GENERAL.SAVE' | translate }}
        <mat-icon>save</mat-icon>
        @if (isLoading()) {
          <mat-icon iconPositionEnd
            ><mat-spinner [diameter]="15"></mat-spinner
          ></mat-icon>
        }
      </button>
    </section>
  </form>
</div>
